@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  src: local('Arapey Regular'), local('Arapey-Regular'), url(http://fonts.gstatic.com/s/arapey/v5/ZFo_O0Fk1lh8uCa1lRm3QevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
